<section id='about'>
  <div class='container'>
    <div class='row'>
      <div class='title centered'>
        <div class='col-lg-12'>
          <h2>About</h2>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='content'>
        <div class='col-lg-3'>
          <img src='assets/images/profile.png' class='profile'>
        </div>
        <div class='col-lg-9'>
          <p>
            Hello there! I'm Jonny.
          </p>
          <p>
            I am a physicist by training (MSc, BSc) and a web/software developer by trade. I'm currently a developer at <a href='https://appcolony.ca' target='_blank'>AppColony</a>, where I'm part of a talented team that builds web and mobile apps.
          </p>
          <p>
            If you'd like to say hi, email me at <a href='mailto:jonny@jonnyjohannes.com'>jonny@jonnyjohannes.com</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

