<div class='section' id='about'>
  <div class='profile'>
    <img src='assets/images/profile.png'>
  </div>
  <div>
    <p class='loud'>Hello there! I'm Jonny.</p>
    <p>I am a physicist by training (MSc, BSc) and a web/software developer by trade. I'm currently a developer at <a href='http://appcolony.ca' target='_blank'>AppColony</a>, where I'm part of a talented team that builds web and mobile apps.</p>
    <p>If you'd like to say hi, email me at <a href='mailto:jonny@jonnyjohannes.com'>jonny@jonnyjohannes.com</a>.</p>
  </div>
</div>

