<div id='about'>
  <p>Hello there! I'm Jonny.</p>
  <p>I am a physicist by training (MSc, BSc) and a web/software developer by trade. I'm currently a software engineer at <a href=' https://www.wayfair.com' /target='_blank'>Wayfair</a>, where I'm part of the talented <i>Customer Identity Team</i> building a platform for user segmentation.</p>
  <p>
  <p>If you'd like to say hi, please reach out at <a href='mailto:jonny@jonnyjohannes.com'>jonny@jonnyjohannes.com</a>, <a target='blank' href='https://github.com/jonnyjohannes'>github</a>, <a target='blank' href='https://www.linkedin.com/in/jonnyjohannes/'>linkedin</a>, or <a target='blank' href='http://blog.jonnyjohannes.com'>tumblr</a>.</p>
</div>

