<footer>
  <div id='contact'>
    <div class='container'>
      <div class='row centered'>
        <a href='mailto:jonny@jonnyjohannes.com'><i class='fa fa-envelope-o'></i></a>
        <a href='https://github.com/jonnyjohannes' target='_blank'><i class='fa fa-github'></i></a>
        <a href='https://twitter.com/jonnyjohannes' target='_blank'><i class='fa fa-twitter'></i></a>
        <a href='https://instagram.com/jonnyjohannes' target='_blank'><i class='fa fa-instagram'></i></a>
        <a href='https://linkedin.com/in/jonnyjohannes' target='_blank'><i class='fa fa-linkedin'></i></a>
      </div>
      <div class='row'>
        &copy; JonnyJohannes {{ site.time | date: '%Y' }} 
      </div>
    </div><!-- /container -->
  </div><!-- #contact -->
</footer>
