<div class='section' id='header'>
  <div class='header'>
    <span class='title'>Jonny Johannes</span>
    <span class='description'>web - software - physics</span>
    <span class='icons'>
      <a aria-label='email' href='mailto:jonny@jonnyjohannes.com' target='_blank'>
        <i class='icon fa fa-envelope'></i>
      </a>
      <a aria-label='github' href='https://github.com/jonnyjohannes' target='_blank'>
        <i class='icon fab fa-github' aria-hidden='true'></i>
      </a>
      <a aria-label='linkedin' href='https://www.linkedin.com/in/jonnyjohannes/' target='_blank'>
        <i class='icon fab fa-linkedin' aria-hidden='true'></i>
      </a>
      <a aria-label='tumblr' href='http://blog.jonnyjohannes.com' target='_blank'>
        <i class='icon fab fa-tumblr' aria-hidden='true'></i>
      </a>
    </span>
  </div>
</div>

