<div id='work'>
  <div class='container'>
    <div class='row centered'>
      <div class='col-md-3'>
        <img src='https://lh5.googleusercontent.com/-DUzLBUBlV9w/UVENMeIb05I/AAAAAAAAAQ0/AFRzMQpOGQo/s500-no/staffingexperts_1.jpg' alt='StaffingExperts'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh5.googleusercontent.com/E5jeBxHwcK_lx22p-Jz7kHscGPTTpPeq4UDmIm1keMA=s198-p-no' alt='Lydia Hol'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh5.googleusercontent.com/-rZihlJFhcZI/UVENL9blJ3I/AAAAAAAAAQs/fjk0Lw06PEU/s500/wedding_website_1.jpg' alt='Christine and Feo'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh3.googleusercontent.com/-1Xdq9QSGeGw/UVENK-eR3bI/AAAAAAAAAQM/N5N9KCTsZOw/s500/colosal_magnetoresistance_1.jpg' alt='CMR'> 
      </div>
    </div>
    <div class='row centered'>
      <div class='col-md-3'>
        <img src='https://lh3.googleusercontent.com/-j2bgscRV83c/UVENLW69mKI/AAAAAAAAAQY/Nm2vS4JEeT0/s500/foodtree_1.jpg' alt='Foodtree'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh6.googleusercontent.com/-MF7exH0CI8w/UVENK_gOi4I/AAAAAAAAARA/cec6WbQGgsM/s500/atom_chip_characterization_1.jpg' alt='Atom Chip'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh6.googleusercontent.com/-1fJeJ_VmULQ/UVENLR04OWI/AAAAAAAAAQ8/u5SEiHDt7eg/s500/halothane_1.jpg' alt='Halothane'> 
      </div>
      <div class='col-md-3'>
        <img src='https://lh6.googleusercontent.com/-VARAeBpT8h8/UVENKyyGlCI/AAAAAAAAAQ4/Ha0uhGjbjZc/s500/confocal_microscopy_1.jpg' alt='Confocal Microscopy'> 
      </div>
    </div>
  </div><!-- /container -->
</div><!-- #contact -->
