<div id="work">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <img src="https://lh6.googleusercontent.com/-o71q5_GPJLw/UgsAOg1XlDI/AAAAAAAAAYM/0IhAFif3rLs/s500-no/lydia_hol_2.jpg" alt="Lydia Hol"> 
      </div>
      <div class="col-md-4">
        <img src="https://lh3.googleusercontent.com/-1Xdq9QSGeGw/UVENK-eR3bI/AAAAAAAAAQM/N5N9KCTsZOw/s500/colosal_magnetoresistance_1.jpg" alt="CMR"> 
      </div>
      <div class="col-md-4">
        <img src="https://lh3.googleusercontent.com/-j2bgscRV83c/UVENLW69mKI/AAAAAAAAAQY/Nm2vS4JEeT0/s500/foodtree_1.jpg" alt="Foodtree"> 
      </div>
    </div>
    <div class="row centered">
      <div class="col-md-4">
        <img src="https://lh6.googleusercontent.com/-MF7exH0CI8w/UVENK_gOi4I/AAAAAAAAARA/cec6WbQGgsM/s500/atom_chip_characterization_1.jpg" alt="Atom Chip"> 
      </div>
      <div class="col-md-4">
        <img src="https://lh6.googleusercontent.com/-1fJeJ_VmULQ/UVENLR04OWI/AAAAAAAAAQ8/u5SEiHDt7eg/s500/halothane_1.jpg" alt="Halothane"> 
      </div>
      <div class="col-md-4">
        <img src="https://lh6.googleusercontent.com/-VARAeBpT8h8/UVENKyyGlCI/AAAAAAAAAQ4/Ha0uhGjbjZc/s500/confocal_microscopy_1.jpg" alt="Confocal Microscopy"> 
      </div>
    </div>
  </div><!-- /container -->
</div><!-- #contact -->
