#about {
  padding: 50px 0;
  grid-template-columns: 1fr;
  line-height: 2em;
  @media only screen and (min-width:$cut){
    grid-template-columns: 1fr 2fr;
  }

  div {
    align-self: center;
  }

  img {
    max-width: 100%;
  }

  .profile {
    margin: auto;
  }

  .loud {
    font-size: 2em;
  }
}

