#about {
  font-size: 1.5vw;
  line-height: 3vw;;
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 10%;
  padding-bottom: 34vh;

  @media screen and (max-width:667px) {
    font-size: 18px;
    font-size: 4.8vw;
    line-height: 9vw;;
    padding: 10%;
    background: #ffffff;
    left: 0;
    right: 0;
    padding-bottom: 34vh;
  }
}

