#about {
  font-size: 1.5vw;
  line-height: 3vw;;
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 10%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  @media screen and (max-width:1000px) {
    font-size: 4.8vw;
    line-height: 9vw;;
    padding: 10%;
    left: 0;
    right: 0;
  }
}

