@import url('https://rsms.me/inter/inter-ui.css');

body {
  color: #000000;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  display: grid;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

