#header {
  h1 {
    width: 40%;
    position: fixed;
    top: 30%;
    left: 10%;
    font-size: 112px;
    font-size: 6.9vw;

    @media screen and (max-width:667px) {
      font-size: 68px;
      font-size: 18vw;
    }
  }
}

