#projects {
  .card {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border: 1px solid #e9e9e9;
    border-bottom: 3px solid $secondary;
    width: 100%;
    margin: 20px auto;
    padding: 20px;

    h2 {
      display: inline;
    }

    a {
      float: right;
      height: 30px;
      width: 60px;
      color: white;
      border-radius: 3px;
      background-color: #d81b60;
      text-align: center;
    }
  }

  .project {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2em;
    margin: 20px 0;

    div {
      padding: 10px 20px;
      margin: auto;
      align-self: center;
    }

    img {
      max-width: 100%;
    }

    .browser {
      padding: 0;
      height: 24px;
      width: 100%;
      background: #e0e3e6;
      padding-left: 8px;
      border-radius: 3px 3px 0 0;
      box-sizing: border-box;

      span {
        float: left;
        margin: 8px 3px 0 0;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: white;
      }
    }

    .content {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr;
      @media only screen and (min-width:$cut){
        grid-template-columns: 1fr 1fr;
      }
      -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.1);
      -moz-box-shadow: 0 6px 20px rgba(0,0,0,.1);
      box-shadow: 0 6px 20px rgba(0,0,0,.1);
      -webkit-transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
      -moz-transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
      -ms-transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
      -o-transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
      transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
      border-radius: 0 0 3px 3px;
      overflow: hidden;
      box-sizing: border-box;
      width: 100%;
    }

    .graph {
      padding: 0;
      height: 24px;
      width: 500px;
      background-size: 4px 4px;
      background-image: linear-gradient(to right, $primary 1px, transparent 1px), linear-gradient(to bottom, $primary 1px, transparent 1px);
    }
  }
}
