---
---

@import url('https://rsms.me/inter/inter-ui.css');

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:root {
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;

  --body-flex-direction: column;
  --header-flex-direction: row;
  --header-width: 100vw;
  --header-height: 11vh;
  --header-justify-content: space-between;
  --header-position: fixed;
}

@media (min-width: 1000px) {
  :root {
    --body-flex-direction: row;
    --header-flex-direction: column;
    --header-width: 11vw;
    --header-height: 100vh;
    --header-justify-content: none;
    --header-position: relative;
  }
}

body {
  display: flex;
  flex-direction: var(--body-flex-direction);
  color: var(--black);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}



#header {
  display: flex;
  position: var(--header-position);
  justify-content: var(--header-justify-content);
  flex-direction: var(--header-flex-direction);
  box-shadow: 1px 1px 3px 0px var(--gray);
  width: var(--header-width);
  height: var(--header-height);
  background: var(--white);

  ul {
    display: flex;
    flex-direction: column;
  }

  .monogram {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmax;
    padding: 2vmax;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .menu a {
    display: block;
  }

  .menu a:hover {
    background-color: var(--gray);
  }

  .nav {
    max-height: 0;
    transition: max-height .5s ease-out;
  }

  .hamb{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2vmax;
  }

  .hamb-line {
    display: block;
    height: 4px;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after{
      background: var(--black);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  .hamb-line::before{
      top: 5px;
  }
  .hamb-line::after{
      top: -5px;
  }

  .side-menu {
      display: none;
  } /* Hide checkbox */
  .side-menu:checked ~ nav{
      max-height: none;
  }
  .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top:0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top:0;
  }

  ul.menu {
    padding: 0;
  }

  .menu li{
      padding: 1vw;
      float: left;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    background: var(--white);
  }
  @media (min-width: 1000px) {

      .nav{
          max-height: none;
          height: 100%;
          width: 100%;
          position: relative;
          margin-top: 0;
      }


      .menu a:hover{
          background-color: transparent;
          color: var(--gray);
      }

      .hamb{
          display: none;
      }
  }
}

section {
  display: flex;
  flex-direction: column;
  font-size: 1vmax;
  line-height: 2vmax;;
  padding: 3vmax;
}

.bounce-in-right {
  animation: bounce-in-right 2s ease 1;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(500vw);
  }
  60% {
    opacity: 1;
    transform: translateX(-10vw);
  }
  80% {
    transform: translateX(1vw);
  }
  100% {
    transform: translateX(0);
  }
}

#opus {
  overflow: hidden scroll;
}

#opus::-webkit-scrollbar {
  display: none;
}
