---
---

@import url('https://rsms.me/inter/inter-ui.css');

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:root {
  --white: white;
  --black: black;
  --gray: #85888C;

  --body-flex-direction: column;
  --body-font-size: 1em;
  --header-flex-direction: row;
  --header-width: 100vw;
  --header-height: 11vmax;
  --header-justify-content: space-between;
  --header-position: fixed;
  --header-hamb-display: flex;
  --nav-max-height: 0;
  --nav-height: calc(100vh - var(--header-height));
  --nav-width: 100vw;
  --nav-position: absolute;
  --nav-margin: var(--header-height) 0;
  --projects-section-flex: 100%;
}

@media (min-width: 1000px) {
  :root {
    --body-font-size: 2em;
    --body-flex-direction: row;
    --header-flex-direction: column;
    --header-width: 50vmax;
    --header-height: 100vh;
    --header-justify-content: none;
    --header-position: relative;
    --header-hamb-display: none;
    --nav-max-height: none;
    --nav-height: 100%;
    --nav-width: 100%;
    --nav-position: relative;
    --nav-margin: 0;
    --projects-section-flex: 40%;
  }
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

#opus {
  padding: 5vmin;
  overflow: hidden scroll;
  margin: var(--nav-margin);
}

#opus::-webkit-scrollbar {
  display: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;

  & > section {
    flex: var(--projects-section-flex);
  }

  img {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: var(--body-flex-direction);
  background-color: var(--white);
  color: var(--black);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  font-size: var(--body-font-size);
  line-height: 2em;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

header#header {
  display: flex;
  flex-direction: var(--header-flex-direction);
  background: var(--white);
  position: var(--header-position);
  justify-content: var(--header-justify-content);
  box-shadow: 1px 1px 3px 0px var(--gray);
  width: var(--header-width);
  height: var(--header-height);

  .monogram {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmax;
    padding: 2vmax;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
  }

  .nav {
    position: var(--nav-position);
    width: var(--nav-width);
    height: var(--nav-height);
    margin: var(--nav-margin);
    background: var(--white);
    max-height: var(--nav-max-height);
  }

  .menu a {
    display: block;
  }

  .menu a:hover {
    color: var(--gray);
  }

  .hamb{
    display: var(--header-hamb-display);
    align-items: center;
    cursor: pointer;
    padding: 2vmax;
  }

  .hamb-line {
    display: block;
    height: 4px;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after{
      background: var(--black);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  .hamb-line::before{
      top: 5px;
  }
  .hamb-line::after{
      top: -5px;
  }

  .side-menu {
      display: none;
  }

  .side-menu:checked ~ nav{
      max-height: none;
  }

  .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top:0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top:0;
  }

  ul.menu {
    padding: 0;
  }

  .menu li{
      padding: 5vmin;
      float: left;
  }

}

#arana-naranja {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}

.pass-by {
  animation: pass-by 60s linear infinite;
}
@keyframes pass-by {
  0% {
    transform: translate(100vw, 200vw);
  }
  10% {
    transform: translate(0, 0);
  }
  12% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1000vw, -2000vw);
  }
}

