---
---

$background-color: #f2f2f2;
$font-color: #555555;
$link-color: #1278B9;

body {
  background-color: $background-color;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  font-size: 16px;
  color: $font-color;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: $link-color;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;

  &:hover, &:focus {
    color: $link-color;
    text-decoration: none;
    outline: 0;
  }

  &:before, &:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #313131;
  border-color: #313131;
}

.navbar-inverse .navbar-brand i {
  color: $link-color;
  font-size: 22px;
  letter-spacing: 1px;
}

header {
  background: url(../images/header-bg.png) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  color: white;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  min-height: 500px;
  width: 100%;
  opacity:0.8;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    margin-top: 150px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

/* sections */
section {
  padding: 35px 0;

  .title {
  }

  .content {
  }

  img {
    width: 100%;
  }
}

/* footer */
footer {
  background: #313131;
  padding-top: 30px;
  padding-bottom: 30px;

  i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
  }
  
  i:hover {
    color: $link-color;
  }
}

