<!DOCTYPE html>
<html lang='en'>

  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="light-grey">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>{{ page.title }}</h2>
          <p>{{ page.short-description }}</p>
        </div>
      </div><!-- row -->

      <div class="section container">
        <div class='col-md-6'>
          <img src='{{ page.thumb-url }}' alt='{{ project.title }}'>
        </div>
        <div class='project col-md-6'>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
